_site
__pycache__
.DS_Store
.idea
.jekyll-cache
.jekyll-metadata
.sass-cache
.vscode/*.log
links.log
node_modules
npm-debug.log
tmp
backstop_data/bitmaps_reference
backstop_data/bitmaps_test
backstop_data/html_report
backstop_data/ci_report
backstop.ci.*.json
