[tool.codespell]
builtin = "clear,rare,en-GB_to_en-US"
ignore-words-list = "rouge,rollin,groupe"
skip = "*.log,.git,*.svg,*.json,.jekyll*,_site,package*,*.js,*.scss,cooklang_recipes/TODO/*,cooklang_recipes/fr/*.cook,*.opml,*/podcasts.yml,cooklang_recipes/ingredients.tsv"

[tool.djlint]
format_css = true
ignore = "H016,H021,H006,H013,H030,H031"
max_line_length = 79
use_gitignore = true

[tool.ruff]
include = ["maint_tools"]
indent-width = 4
line-length = 79

[tool.ruff.format]
docstring-code-format = true
docstring-code-line-length = "dynamic"
indent-style = "space"
line-ending = "auto"
quote-style = "double"
skip-magic-trailing-comma = false

[tool.ruff.lint]
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"
fixable = ["ALL"]
ignore = [
    "PLR2004"
]
# List of all the ruff rules (includes why the rule matters)
# https://docs.astral.sh/ruff/rules/
select = [
    "ARG",
    "B",
    "C4",
    "C90",
    "D",
    "E",
    "ERA",
    "F",
    "FLY",
    "FURB",
    "I",
    "N",
    "NPY",
    "PERF",
    "PIE",
    "PTH",
    "PD",
    "PGH",
    "PLR",
    "RUF",
    "SIM",
    "UP",
    "W"
]
unfixable = []

[tool.ruff.lint.mccabe]
max-complexity = 23

[tool.ruff.lint.pydocstyle]
convention = "numpy"
