---
layout: default
title: Recipes
permalink: /recipes.html
---

<div class="row">
    <div class="col-12 text-center">
        <div class="navy-line"></div>
        <h1>Recipes</h1>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-8 text-center">
        <a href="https://x.com/rkoutnik/status/1085633512839888896">
            <img src="{{ site.url }}/static/assets/img/recipes/why-programmers-like-cooking.png"
                 alt="why-programmers-like-cooking"
                 width="100%">
        </a>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-10">
        <div class="wrapper wrapper-content animated fadeInRight">

            {% assign sorted = site.recipes | sort: 'title' %}
			{% for post in sorted %}
            <div class="vote-item">
                <div class="row">
                    <div class="col-12">
                        <div class="row vote-actions">
                        </div>
                        <div class="row">
                            <a href="{{ post.url | prepend: site.baseurl }}" class="vote-title">
                                {{ post.title }}
                            </a>
                        </div>
                        <div class="row d-flex justify-content-between">
                            <div class="col-8 align-self-center fs-6">
                                {% if post.blurb %}
                                <p style="margin-left: 45px;">{{ post.blurb }}</p>
                                {% endif %}
                            </div>
                            <div class="col-4 d-flex justify-content-center">

                                {% if post.image %}
                                <img
                                    src="{{ site.url }}/static/assets/img/recipes/{{ post.image }}"
                                    class="img-responsive"
                                    width="200px">
                                {% endif %}

                            </div>
                        </div>
                        <div class="row vote-info">
                        {% if site.disqus %}
                            <i class="fa fa-comments-o"> </i> <a>Comments (<span class="disqus-comment-count" data-disqus-url="{{ site.url }}{{ post.url }}">0</span>)</a>
                        {% endif %}
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="vote-icon">
                            {% if post.icon %}<i class="fa {{ post.icon }}"> </i>{% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
