---
layout: default
title: Recipes
permalink: /recipes.html
---

<div class="row">
    <div class="col-12 text-center">
        <div class="navy-line"></div>
        <h1>Recipes</h1>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-12 text-center">
        <a href="https://x.com/rkoutnik/status/1085633512839888896">
            <img src="{{ site.url }}/static/assets/img/recipes/why-programmers-like-cooking.png"
                alt="why-programmers-like-cooking" width="400px">
        </a>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-10">
        <div class="wrapper wrapper-content">
            <!-- get all categories for all recipes -->
            {% assign categories = "" | split: ',' %}
            {% for recipe in site.recipes %}
                {% assign categories = categories | push: recipe.category %}
            {% endfor %}
            {% assign categories = categories | uniq %}

            {% assign sorted = site.recipes | sort: 'title' %}
            
            {% for category in categories %}
            <h2 class="fs-2 mt-4 fw-bold">{{ category }}</h2>
            
            {% for post in sorted %}
            {% if post.category != category %}
            {% continue %}
            {% endif %}
            <div class="vote-item">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <a href="{{ post.url | prepend: site.baseurl }}" class="recipe-title">
                                {{ post.title }}
                            </a>
                        </div>
                        <div class="row d-flex justify-content-between recipe-short">
                            <div class="col-12 align-self-center fs-6">
                                <div class="p-0 m-1 mb-3">
                                    {% if post.prep_time %}
                                    <p class="p-1 m-1 border border-1 border-secondary rounded rounded-1 fw-medium"
                                        style="width: fit-content; font-size: 90%;">
                                        prep time : {{ post.prep_time }}
                                    </p>
                                    {% endif %}
                                    {% if post.cook_time %}
                                    <p class="p-1 m-1 border border-1 border-secondary rounded rounded-1 fw-medium"
                                        style="width: fit-content; font-size: 90%;">
                                        cooking time : {{ post.cook_time }}</p>
                                    {% endif %}
                                </div>
                                <div class="p-0 m-1">
                                    {% if post.blurb %}
                                    <p>{{ post.blurb }}</p>
                                    {% elsif post.introduction %}
                                    {{ post.introduction }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-4 d-flex align-self-center justify-content-center">

                                {% if post.image %}
                                <img src="{{ site.url }}/static/assets/img/recipes/{{ post.image }}"
                                    class="img-responsive" width="200px">
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% endfor %}


        </div>
    </div>

</div>
