<div class="container" id="i18_papers">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="papers.my_papers">Papers</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-12">
            <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
            {% for paper in site.data.index.papers %}
            {% assign loopindex = forloop.index | modulo: 2 %}
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg wow rotateIn">
                        <i class="fa {{ paper.icon }}"></i>
                    </div>
                    <div class="vertical-timeline-content wow {% if loopindex == 1 %} rotateInUpRight {% else %} rotateInUpLeft {% endif %}">

                        {{/*  TODO  */}}
                        {{/*  add altimetric badges https://api.altmetric.com/embeds.html  */}}



                        <h2><span data-i18n="paper.{{ paper.name.i18n }}">{{ paper.name.detail }}</span></h2>
                        <p><span data-i18n="paper.{{ paper.desc.i18n }}">{{ paper.desc.detail }} </span></p>
                        <span class="vertical-date"><span data-i18n="paper.{{ paper.date.i18n }}"> {{ paper.date.detail }} </span>
                        <br/> <small><span data-i18n="paper.{{ paper.job.i18n }}">{{ paper.job.detail }}</span></small> </span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
