// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );

.post-content {

  font-size: 150%;

  h1, h2, h3, h4 {
    padding-top: 16px;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 150%;
  }

  h4 {
    padding-top: 16px;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 130%;
  }

  p {
    font-size: 100%;
  }

  ul{
    font-size: 100%;
    ::marker {
      font-size: 1.2em;
      content: "- ";
    }

  }

  blockquote {
    width: 80%;
    margin-left: 10%;
    p {
      font-size: 100%;
      font-style: italic;
    }
  }

  .language-text, .language-bash, .language-yml, .language-matlab, .language-rst, .language-python{
    width: 80%;
    font-size:90%;
    margin-left: 10%;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .quote-ref{
    text-align: right;
    font-size:100%;
    margin-top: 0px;
    margin-bottom: 8px
  }

  .admonition{
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 24px;
    margin: 24px;
    border: 4px solid black;
    border-radius: 8px;
    background: lightgrey;
    color: black;

    .admonition-title{
      width: 75%;
      font-size: 120%;
      text-transform: uppercase;
    }
    .admonition-content{
      width: 60%;
      margin: 8px;
    }
  }

}

@media (max-width: 768px) {
  .post-content {
    font-size: 120%;
  }
}
