---
layout: blog
title: Blog
permalink: /blog/
---

<div class="row d-flex justify-content-center">
    <div class="col-10 d-flex flex-col justify-content-center text-center">
        <div class="navy-line"></div>
        <h1>Latest Blog</h1>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-10">
        <div class="wrapper wrapper-content">
            <!-- latest 10 blog -->
            {% for post in site.posts limit:10 %}
                <div class="vote-item">
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ post.url | prepend: site.baseurl }}" class="vote-title">{{ post.title }}</a>
                            <div class="vote-info d-flex flex-wrap">
                                {% if site.disqus %}
                                    <div>
                                        <i class="fa fa-comments-o"> </i> <a>Comments (<span class="disqus-comment-count"
      data-disqus-url="{{ site.url }}{{ post.url }}">0</span>)</a>
                                    </div>
                                {% endif %}
                                <div>
                                    <i class="fa fa-clock-o"></i> <a>{{ post.date | date: "%-d %b %Y" }}</a>
                                </div>
                                <div>
                                    <i class="fa fa-user"></i> <a>{{ site.author.name }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 ">
                            <div class="vote-icon">
                                {% if post.icon %}<i class="fa {{ post.icon }}"> </i>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
