---
layout: talks
title: Talks
permalink: /blog/papers.html
---

<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Papers WIP</h1>
    </div>
</div>

<div class="row" style="margin-bottom: 75px">
    <div class="col-lg-12">
        <div id="vertical-timeline"
             class="vertical-container light-timeline center-orientation">

        {% for paper in site.data.papers %}
        {% assign loopindex = forloop.index | modulo: 2 %}
            <div class="vertical-timeline-block">

                <div class="vertical-timeline-icon navy-bg wow rotateIn">
                    <i class="fa {{ paper.icon }}"></i>
                </div>

                <div class="vertical-timeline-content wow {% if loopindex == 1 %} rotateInUpRight {% else %} rotateInUpLeft {% endif %}">

                    <h2>
                        <span>
                        {% if paper.web %}
                            <a href="{{ paper.web }}">{{ paper.name }}</a>
                        {% else %}
                            <a href="https://doi.org/{{ paper.doi }}">{{ paper.name }}</a>
                        {% endif %}
                        </span>
                    </h2>
                    <p><span>{{ paper.authors }} </span></p>
                    <div
                        data-badge-type="donut"
                        data-doi={{ paper.doi }}
                        data-condensed="true"
                        data-badge-popover='left'
                        data-hide-no-mentions="true"
                        class="altmetric-embed">
                    </div>
                    <span class="vertical-date">
                        <span>{{ paper.date }}</span>
                        <br/>
                        <small>{{ paper.journal }}</span>
                        </small>
                    </span>

                </div>
            </div>
        {% endfor %}

        </div>
    </div>
</div>

<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
