---
layout: talks
title: Talks
permalink: /blog/talks.html
---

<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Talks & workshops</h1>
        <p>work in progress</p>
    </div>
</div>

<div class="row" style="margin-bottom: 75px">
    <div class="col-lg-12">
        <div id="vertical-timeline"
             class="vertical-container light-timeline center-orientation">

        {% for talk in site.data.talks %}
        {% assign loopindex = forloop.index | modulo: 2 %}
            <div class="vertical-timeline-block">

                <div class="vertical-timeline-icon navy-bg wow rotateIn">
                    <i class="fa fa-plus-square"></i>
                </div>

                <div class="vertical-timeline-content wow {% if loopindex == 1 %} rotateInUpRight {% else %} rotateInUpLeft {% endif %}">

                    <h1>
                        <span>
                            <i class="fa fa-youtube"></i> <a href="{{ talk.video }}"> {{ talk.name }} </a>
                        </span>
                    </h1>
                    <h2>
                        <span>
                            <a href="{{ talk.web }}">Slides</a>
                        </span>
                    </h2>
                    <span class="vertical-date">
                        <span>{{ talk.date }}</span>
                        <br/>
                        <small>{{ talk.conference }}</span>
                        </small>
                    </span>

                </div>
            </div>
        {% endfor %}

        </div>
    </div>
</div>

<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
